.top-flyers {
    margin: 0;
}

.top-list-group-item {
    padding: .75rem 0.25rem;
    border-width: 0;
}

.top-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.top-modal-header {
    padding: 0.2rem 0.5rem;
}

.top-mobile-content {
    width: 80%;
}

.top-modal-footer {
    border-width: 0;
}

.top-header {
    border-bottom: 1px solid #dee2e6;
}

.top-dark {
    background-color: #c6c8ca;
}